<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fake 假数据平台</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "manage_web/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "manage_web/css/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static "manage_web/css/timeline.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "manage_web/css/startmin.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "manage_web/css/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "manage_web/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <![endif]-->
    <script language="JavaScript" type="text/javascript" src="{% static "manage_web/js/jquery.js" %}" ></script>

</head>
<body>

<div id="wrapper">

    <!-- Navigation


            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">fake假数据管理</a>
        </div>



        <!-- Top Navigation: Left Menu -->
        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="#"><i class="fa fa-home fa-fw"></i> 业务类型</a></li>
        </ul>

        <!-- Top Navigation: Right Menu -->
        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
            {% if request_user.is_authenticated %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{ request_user }} <b class="caret"></b>
                </a>
            {% else %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="/manage_web/login/">
                    <i class="fa fa-user fa-fw"></i> 登录 <b class="caret"></b>
                </a>
                {% endif %}
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/manage_web/login/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Sidebar -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">

                    <li>
                        <a href="/manage_web/" class="active"><i class="fa fa-dashboard fa-fw"></i>业务面板</a>
                    </li>

                    <li>
                        <a href="/manage_web/ad_action/"><i class="fa fa-sitemap fa-fw"></i> 广告<span></span></a>
                    </li>

                    <li>
                        <a href="/manage_web/group/"><i class="fa fa-sitemap fa-fw"></i> 文章<span ></span></a>
                        <!--<ul class="nav nav-second-level">
                            <li>
                                <a href="#">大图文章</a>
                            </li>
                            <li>
                                <a href="#">多图文章<span></span></a>
                            </li>
                        </ul>
                        -->
                    </li>

                    <li>
                        <a href="/manage_web/subject/"><i class="fa fa-sitemap fa-fw"></i> 专题<span ></span></a>
                    </li>

                    <li>
                        <a href="/manage_web/pictures/"><i class="fa fa-sitemap fa-fw"></i> 图集<span></span></a>
                    </li>

                    <li>
                        <a href="/manage_web/PGC/"><i class="fa fa-sitemap fa-fw"></i> PGC<span ></span></a>
                    </li>

                    <li>
                        <a href="/manage_web/UGC/"><i class="fa fa-sitemap fa-fw"></i> UGC<span></span></a>
                    </li>
                    <li>
                        <a href="/manage_web/test_channel/"><i class="fa fa-sitemap fa-fw"></i> 测试频道<span></span></a>
                    </li>





                </ul>

            </div>
        </div>
    </nav>

    <!-- Page Content -->
{% block content %}
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Fake假数据控制面板</h1>
                </div>
                <div class="col-lg-12">
                    {% if fake_item_objects %}
                        <table id="mytable"  border="1" style="table-layout: fixed;width: 1000px">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>API_Version</th>
                                <th>CELL_ITEM_VIEW</th>
                                <th>DESCRIPTION</th>
                                <th>HOT_TIME</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                             {% for items in fake_item_objects %}
                                 <tbody>

                             <tr>
                                <td>{{ items.id }}</td>
                                <td>{{ items.api_version }}</td>
                                <td>{{items.cell_item }}</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis; overflow: hidden">{{ items.description}}</td>
                                <td>{{ items.behot_time}}</td>
                                <td>{{ items.status }}</td>
                                 <td><input value="{{ items.id }}" name="data_test" type="checkbox" /></td>

                             </tr>
                                 </tbody>

                            {% endfor %}

                </table>
                {% endif %}
                <div class="col-lg-12">
                    <a id="btn0"></a>
                    <input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"/><a> 条 </a> <a href="#" id="pageSizeSet">设置</a>
                    &nbsp;
                    <a id="sjzl"></a>&nbsp;
                    <a  href="#" id="btn1">首页</a>&nbsp;
                    <a  href="#" id="btn2">上一页</a>&nbsp;
                    <a  href="#" id="btn3">下一页</a>&nbsp;
                    <a  href="#" id="btn4">尾页</a>&nbsp;
                    <a>转到 </a>
                    <input id="changePage" type="text" size="1" maxlength="4"/>
                    <a>页 </a>&nbsp;
                    <a  href="#" id="btn5">跳转</a>&nbsp;
                    <button name="btn" onclick="fun1()" >添加</button>
                </div>
                    <script>
                            function fun1() {
                                obj= document.getElementsByName("data_test");
                                check_val=[];
                                for(k in obj){
                                    if(obj[k].checked){
                                        check_val.push(obj[k].value);
                                        //alert(obj);
                                    }

                                };
                           alert(check_val);

                //            alert(check_val.serializeArray());
                                $.ajax({
                                   // traditional:true,
                                    url:"get_data_id/",
                                    data: {
                                        id:check_val+" ",
                                    },
                                    dataType:"json",
                                    type:"GET",
                                    success:function(result) {
                                }
                                })
                            }
                        </script>

                </div>


            <!-- ... Your content goes here ... -->

        </div>
    </div>

</div>
{% endblock %}


<!-- jQuery -->
<script src="{% static "manage_web/js/jquery.min.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "manage_web/js/bootstrap.min.js" %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "manage_web/js/metisMenu.min.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "manage_web/js/startmin.js" %}"></script>
<script type="text/javascript">
            var pageSize = 15;    //每页显示的记录条数
             var curPage=0;        //当前页
             var lastPage;        //最后页
             var direct=0;        //方向
            var len;            //总行数
            var page;            //总页数
            var begin;
            var end;


            $(document).ready(function display(){
                len =$("#mytable tr").length - 1;    // 求这个表的总行数，剔除第一行介绍
                page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
                // alert("page==="+page);
                curPage=1;    // 设置当前为第一页
                displayPage(1);//显示第一页

                document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";    // 显示当前多少页
                document.getElementById("sjzl").innerHTML="数据总量 " + len + "";        // 显示数据量
                document.getElementById("pageSize").value = pageSize;



                $("#btn1").click(function firstPage(){    // 首页
                    curPage=1;
                    direct = 0;
                    displayPage();
                });
                $("#btn2").click(function frontPage(){    // 上一页
                    direct=-1;
                    displayPage();
                });
                $("#btn3").click(function nextPage(){    // 下一页
                    direct=1;
                    displayPage();
                });
                $("#btn4").click(function lastPage(){    // 尾页
                    curPage=page;
                    direct = 0;
                    displayPage();
                });
                $("#btn5").click(function changePage(){    // 转页
                    curPage=document.getElementById("changePage").value * 1;
                    if (!/^[1-9]\d*$/.test(curPage)) {
                        alert("请输入正整数");
                        return ;
                    }
                    if (curPage > page) {
                        alert("超出数据页面");
                        return ;
                    }
                    direct = 0;
                    displayPage();
                });


                $("#pageSizeSet").click(function setPageSize(){    // 设置每页显示多少条记录
                    pageSize = document.getElementById("pageSize").value;    //每页显示的记录条数
                    if (!/^[1-9]\d*$/.test(pageSize)) {
                        alert("请输入正整数");
                        return ;
                    }
                    len =$("#mytable tr").length - 1;
                    page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
                    curPage=1;        //当前页
                     direct=0;        //方向
                     firstPage();
                });
            });

            function displayPage(){
                if(curPage <=1 && direct==-1){
                    direct=0;
                    alert("已经是第一页了");
                    return;
                } else if (curPage >= page && direct==1) {
                    direct=0;
                    alert("已经是最后一页了");
                    return ;
                }

                lastPage = curPage;

                // 修复当len=1时，curPage计算得0的bug
                if (len > pageSize) {
                    curPage = ((curPage + direct + len) % len);
                } else {
                    curPage = 1;
                }


                document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页&nbsp每页 ";        // 显示当前多少页

                begin=(curPage-1)*pageSize + 1;// 起始记录号
                end = begin + 1*pageSize - 1;    // 末尾记录号


                if(end > len ) end=len;
                $("#mytable tr").hide();    // 首先，设置这行为隐藏
                $("#mytable tr").each(function(i){    // 然后，通过条件判断决定本行是否恢复显示
                    if((i>=begin && i<=end) || i==0 )//显示begin<=x<=end的记录
                        $(this).show();
                });
             }
    </script>
</div>
</body>
</html>
